#main{
	width:960px; 
	height:auto;
 	margin:auto;
}

#top{
	background:url(../images/main/top.png);
	width:960px; 
	height:40px;
}

#middle{
	width:900px; 
	height:auto;
	background:url(../images/main/middle.png) repeat-y;
	padding-left:30px;
	padding-right:30px;
}
 
#bottom{
	background:url(../images/main/bottom.png);
	width:960px; 
	height:58px;
}