body { 
	margin:0; 
	padding:0; 
	width:100%; 
}

#header{
    width: 100%;
    height: 140px;
    background:url(../images/header/header.png) repeat-x center top;
}

#header_content{
	width:960px;
	height:80px;
	margin:auto;
}

.menu_nav {
	width:960px; 
	height:65px;
	margin:auto;	
}
.menu_nav ul { 
	list-style:none;
}
.menu_nav ul li { 
	margin:0 4px; 
	float:left;
}
.menu_nav ul li a { 
	display:block; 
	margin:0; 
	padding-top:5px; 
	padding-bottom:5px;
	padding-left:25px;
	padding-right:25px;
	color:#fff; 
	text-decoration:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover { 
	background:url(../images/header/menu.png) repeat top;
}

#footer{
	width:100%; 
	height:50px;
}